## .gitignore 2025-08-30

# =========================================
# Python cache / build artifacts
# =========================================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
dist/
build/


# =========================================
# Virtual environments
# =========================================
.venv/
venv/
ENV/
env/


# =========================================
# Jupyter Notebook
# =========================================
.ipynb_checkpoints/
*.ipynb_checkpoints


# =========================================
# LibreOffice / OpenOffice lock files
# =========================================
.~lock.*#


# =========================================
# OS-specific junk
# =========================================
.DS_Store         # macOS
Thumbs.db         # Windows
*.swp


# =========================================
# Project-specific temp / notes
# =========================================
*.log
*.tmp
*.bak
*.swp
*.bkp


# =========================================
# Temporary Specific files
# =========================================
*env*
*bkup*.md
.vscode
module_2*/
module_3*/
module_4*/
module_5*/
module_6*/
module_7*/

