## .gitignore 2025-08-30

# =========================================
# Python cache / build artifacts
# =========================================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
dist/
build/


# =========================================
# Virtual environments
# =========================================
.venv/
venv/
ENV/
env/


# =========================================
# Jupyter Notebook
# =========================================
.ipynb_checkpoints/
*.ipynb_checkpoints


# =========================================
# LibreOffice / OpenOffice lock files
# =========================================
.~lock.*#


# =========================================
# OS-specific junk
# =========================================
.DS_Store         # macOS
Thumbs.db         # Windows
*.swp


# =========================================
# Project-specific temp / notes
# =========================================
*.log
*.tmp
*.bak
*.swp
*.bkp


# =========================================
# Temporary Specific files
# =========================================
*bkup*.md
module_2_sql/DSI-sql-Part_2.md
module_2_sql/DSI-sql-Part_3.md
module_2_sql/DSI-sql-Part_4.md