# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual env
.venv/
env/

# Ignore data or large files
*.zip
*.csv

# Ignore system files
.DS_Store
*.swp

$ Ignore bakup file
*bkup*.md

$ Ignore files:
/module_2_sql/DSI-sql-Part_2.md
/module_2_sql/DSI-sql-Part_3.md
/module_2_sql/DSI-sql-Part_4.md
